@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

html, body {
	width: 100%;
	height: 100%;
	text-align: center;
	background: url('../imgs/event_n.jpg') no-repeat center center fixed;
  	background-size: cover;
    color: white;
	margin: 0;
    font-family: 'Roboto';
}

.container {
    margin: 0;
    transform: translate(113%, 150px);
    position: absolute;
}

.container > h1 {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
}

.menu {
	margin: 0;
	width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.28);
}

#menuBackground {
	margin: 0;
	width: 100%;
    height: 10%;
    position: fixed;
    background-color: #1585AB;
    z-index: 1;
}

.menu > h2 {
    margin-bottom: 0;
    font-weight: 700;
}

#left {
    width: 60%;
    height: 100%;
}

#title {
	width: 35%;
    height: 100%;
    line-height: 35px;
    float: left;
}

#title > a > h2 {
    margin-top: 15px;
    font-weight: 700;
}

#title > a {
    text-decoration: none;
    color: white;
}

#logo {
	width: 5%;
    height: 100%;
    display: inline-block;
    float: left;
}

#logo > a > img {
    max-height: 40px;
    margin-top: 10px;
    margin-left: 30px;
}

#logo > a > img {
    text-decoration: none;
}

#right {
    margin: 0;
    float: right;
    transform: translate(-30px,-50px);
}

#right > #search > #form1 > #searchBar {
    width: 100px;
    height: 23px;
    margin-right: -2px;
    border-style: none;
    font-family: 'Lato';
}

#form1 > input[type=submit] {
    margin-left: -2px;
    border-style: none;
    background: url('../imgs/search.png') no-repeat;
    width: 25px;
    height: 25px;
    background-color: white;
    transform: translate(0, 5px);
}

#userProfileBackground {
    margin-top: 64px;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}

#userProfile {
    margin-top: 80px;
    width: 20%;
    height: 100%;
    position: fixed;
    z-index: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

#userProfile > #profilePage > a > img, #userProfile > #userEvents > #event > img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

#userProfile > #profilePage > a {
    color: white;
    text-decoration: none;
}

#userProfile > #profilePage > a > p , #userProfile > #userEvents >  #event > p{
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    transform: translate(0,-16px);
}

#userProfile > #profilePage, #userProfile > #userEvents > #event {
    margin: 0;
    width: 100%;
    margin-left: 35px;
    text-align: left;
}

#userProfile > hr {
    background-color: #00ccff;
    height: 1px;
    border: none;
    opacity: 0.3;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    text-align: center;
}

#userProfile > #userEvents > #event > a > img {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: white;
}

#userProfile > #userEvents >  #event > a > p {
    margin-bottom: 0;
    display: inline-block;
    transform: translate(10px,-19px);
}

#userProfile > #userEvents > #event > a {
    text-decoration: none;
    color: white;
}

#userProfile > #userEvents > #event {
    margin-top: 30px;
    text-align: left;
    margin-left: 35px;
}

#eventsInformation > .comboEvent > .eventBox1, #eventsInformation > .comboEvent > .eventBox2 {
    display: inline-block;
    cursor: pointer;
}

#eventsInformation > .comboEvent > .eventBox1 {
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 100px;
    background-color: #0e5d77;
    width: 150px;
    height: 79px;
    padding-top: 66px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    text-align: center;
}

#eventsInformation > .comboEvent > .eventBox2 {
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 0;
    background-color: #0e5d77;
    width: 150px;
    height: 79px;
    padding-top: 66px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    text-align: center;
}

#eventsInformation > .comboEvent {
    text-align: left;
}

#information {
    display: block;
    width: 520px;
    height: 150px;
    text-align: left;
}

#information > #informationLeft {
    float: left;
    width: 150px;
    height: 150px;
    background-color: red;
}

#information > #informationLeft > #informationImg > img{
    width: 150px;
    height: 150px;
    background-color: white;
}

#information > #informationRight {
    float: left;
    margin-bottom: 50px;
    padding-left: 15px;
    width: 220px;
    height: 150px;
    display: block;
    background-color: #0e5d77;
    word-wrap: break-word;
}

#information > #informationRight > #rightFooter {
    margin-top: 15px;
    margin-bottom: 2px;
}

#information > #informationRight > #rightFooter > #eventOwner {
    float: right;
    padding-right: 15px;
    margin-top: 5px;
}

#information > #informationRight > #rightFooter > #eventJoin {
    float: left;
}

#information > #informationRight > #rightFooter > #eventOwner > p {
    margin: 0;
}

#information > #informationRight > #rightFooter > #eventJoin > form > .going {
	background-color: white;
    border-radius: 5px;
    color: #00ccff;
    font-size: 12px;
    border: none;
	display: block;
	margin: 5px 0;
	margin-top: 5px;
	width: auto;
    padding: 5px 10px;
}

#information > #informationRight > #rightFooter > #eventJoin > form > .going:hover {
    border: none;
    color: white;
    background: #a6a6a6;
    box-shadow: 0px 0px 1px #777;
    cursor: pointer;
}

#thanks {
    margin: 0;
    position: absolute;
    transform: translate(75%,120%);
}

#thanks > h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 700;
}