@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

html, body {
	width: 100%;
	height: 100%;
	text-align: center;
	background: url('../imgs/event_n.jpg') no-repeat center center fixed;
  	background-size: cover;
    color: white;
	margin-top: 0;
    font-family: 'Roboto';
}

.logo {
    margin: 0;
}

#container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    margin: 0;
    margin-bottom: 50px;
    font-family: "Helvetica Neue";
}

#form > #submit:hover {
    border: none;
    color: white;
    background: #a6a6a6;
    box-shadow: 0px 0px 1px #777;
}

#form > #submit {
	background-color: white;
    border-radius: 10px;
    color: #00ccff;
    font-size: 20px;
    border: none;
	display: block;
	margin: 10px auto;
	margin-top: 20px;
	width: auto;
    padding: 5px;
}

#submit2:hover {
    text-decoration: none;
    font-family: 'lato';
    font-weight: 300;
    font-size: 20px;
    border: none;
    color: white;
    background: #a6a6a6;
    box-shadow: 0px 0px 1px #777;
}

#submit2 {
    text-decoration: none;
    font-family: 'lato';
    font-weight: 300;
	background-color: white;
    border-radius: 10px;
    color: #00ccff;
    font-size: 20px;
    border: none;
    padding: 5px;
}

#form input {
	background-color: white;
    border-radius:6px;
    font-size: 15px;
    border: none;
	display: block;
	margin: 10px auto;
    color: #a6a6a6;
    font-family: 'lato';
    font-weight: 300;
    padding: 5px;
    
}

*::-webkit-input-placeholder {
    color: #d9d9d9;
}
*:-moz-placeholder {
    color: #d9d9d9;
}
*::-moz-placeholder {
    color: #d9d9d9;
}
*:-ms-input-placeholder {
    color: #d9d9d9;
}

img {
    width: 5%;
    height: 5%;
}